.env
.venv/
__pycache__/
*.pyc
.pytest_cache/

# PostgreSQL
database/data/

# Bucket
bucket/data/*
!bucket/data/.gitkeep

!bucket/data/images/
bucket/data/images/**
!bucket/data/images/.gitkeep

!bucket/data/exports/
bucket/data/exports/**
!bucket/data/exports/.gitkeep
.trash/
renders/.build/
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.xlsx

.DS_STORE
