.env
.venv/
__pycache__/
*.pyc
.pytest_cache/

# PostgreSQL
database/data/
!database/data/.gitkeep

# Bucket
bucket/data/*
!bucket/data/.gitkeep
!bucket/data/images/
!bucket/data/images/.gitkeep
!bucket/data/exports/
!bucket/data/exports/.gitkeep
